In [9]:
from mvpa.loading import load_TRs
from mvpa.decoding import decode_CV, decode_traintest
from mvpa.mvpa_utils import correct_labels
from utils import Options
import pandas as pd

%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [2]:
opt = Options(
    sub='sub-001',
    task='test',
    model=15,
)

In [3]:
DS = load_TRs(opt, TR_delay=[6, 7, 8, 9])
DS = correct_labels(DS, opt)

WARNING: Detected incorrect (nan) scl_ fields. Resetting to scl_slope=1.0 and scl_inter=0.0
 * Please note: warnings are printed only once, but underlying problem might occur many times *

In [4]:
DS = DS.remove_nonfinite_features()

In [5]:
allres = []

for d in [6, 7]:
    print('delay:', d)
    thisDS = DS[DS.sa.delay==d]
    allres.append(decode_CV(thisDS, opt))

delay: 6
delay: 7

In [7]:
allres[0]

,correct,output,rawdistance,distance,chunk,TRno,delay,expected
0,0.666667,0.666667,-1358.765650,0.556954,1.0,104.000000,6.0,True
1,0.333333,0.333333,1227.549738,-0.489937,1.0,318.666667,6.0,True
2,0.333333,0.666667,-460.132322,0.098088,1.0,104.000000,6.0,True
3,0.000000,1.000000,-1006.332593,-0.612828,1.0,171.333333,6.0,True
4,0.666667,0.333333,922.963087,0.402418,1.0,295.000000,6.0,True
...,...,...,...,...,...,...,...,...
0,1.000000,1.000000,-2736.874203,1.289474,7.0,89.000000,6.0,False
1,1.000000,1.000000,-2422.675568,1.141483,7.0,96.000000,6.0,False
2,1.000000,1.000000,-181.452989,0.085849,7.0,104.000000,6.0,False
4,1.000000,0.000000,137.715044,0.064482,7.0,213.000000,6.0,False
5,1.000000,0.000000,2792.772739,1.315036,7.0,313.000000,6.0,False

In [10]:
allresdf = pd.concat(allres)

In [13]:
allresdf.delay.unique()

array([6., 7.])

In [ ]:
DS[DS.sa.chunks==1].sa.delay